.home{
    display: flex;
    flex-direction: column;
    
    width: 100vw;
    height: 100vh;
    
    justify-content: center;
    align-items: center;
    animation: show 0.35s ease-out both;
}

.home.white{
    background-color: #F4F4F4;
}

/* .home.dark{
    background-color: #1d1d1d41;
} */

.arrow{
    position: absolute;
    bottom: 5vh;
    height: 2vh;
    cursor: pointer;
}

.home-picture{
    object-fit: cover;
    aspect-ratio: 1/1;
    height: 40%;
    border-radius: 50%;
}




.mobile-title{
    display: none;
}

@media (max-width:450px){
    .home h1{
        font-size: 3rem;
        text-align: center;
    }

    .mobile-title{display: block;}
    .pc-title{display: none;}

    .home h3{
        text-align: center;
    }
    .home-picture{
        height: 30%;
    }
}

.home h1{
    margin: 0;
}

.home h3{
    margin: 0;
}

.home.dark strong{
    color: yellow;
    transition: color ease-in-out 0.2s;
}
.home.white strong{
    color: rgb(77, 160, 255);
    transition: color ease-in-out 0.2s;
}

/* ----------- Social ----------- */

.social-media-home{
    display: flex;
    align-items: center;
    justify-content: space-around;
    
    width: 10vw;
    height: 5vh;
}

.social-media-home a {
    display: flex;
    
    justify-content: center;
    align-items: center;
    
    height: 50%;
    width: 20%;
    
    cursor: default;
}

.social-media-home img{
    height: 80%;
    transition: height ease-in-out 0.2s;
    
}

@media (min-width:1024px){

    .social-media-home img:hover{
        cursor: pointer;
        height: 100%;
    }
}


@media(max-width : 450px){
    .social-media-home{
        width: 30vw;
    }
}




/* ----------- TOOLS ----------- */
.tools{
    display: flex;
    flex-direction: column;

    width: 100vw;
    height: auto;
    overflow: hidden;

    align-items: center;
}


.tools h1{
    margin: 0 2%;
}

.tools-head{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
    margin-bottom: 2vh;
}

.items{
    display: grid;
    
    grid-template-columns: repeat(auto-fit, minmax(100px, 8vw));
    grid-auto-rows: 1fr;
    
    column-gap: 5%;
    row-gap: 15%;
    
    width: 50%;
    box-sizing: border-box;
    margin-bottom: 10vh;
}

.items img{
    margin: auto;
    height: 5vw;
    
}

.one-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    padding: 15px;
    
    box-sizing: border-box;
    border-radius: 8px;
    
    box-shadow: 0 4px 2px rgba(0, 0, 0, 0.2);
}

.one-item img{
    max-height: 60%;
    max-width: 100%;
}

.one-item h3{
    margin: 10px 0 0 0;
    text-align: center;
}

.one-item.dark{
    background-color: #1d1d1d;
    transition: background-color ease-in-out 0.1s ,filter ease-in-out 0.1s;
}

.one-item.white{
    background-color: #f4f4f4;
    transition: background-color ease-in-out 0.1s ,filter ease-in-out 0.1s;
}



/* Pc */
@media (min-width:1024px){
    /* .one-item.dark:hover{
        background-color: #212121;
    }

    .one-item.white:hover{
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.2));
    } */
}
/* celular */
@media (max-width:450px){
    .tools-head{
        width: 60%;
    }

    .items{
        justify-content: space-between;
        align-items: center;
        width: 60%;
        height: 100%;
        row-gap: 3%;
    }

    .items img{
        height: 15vw;
    }

    .one-item{
        padding: 10px;
    }

    .one-item h3{
        font-size: 1.2rem;
    }
}
/* celular small */
@media (max-width:320px){
    
    .items{
        gap: 1%;
        justify-content: center;
        
    }
}
/* Tableta */
@media (max-width:1023px){
    .tools-head{width: 70%;}

    .items{
        width: 70%;
        row-gap: 1%;
    }

    .tools-head h1{
        font-size: 1.5rem;
    }
}

/* ------------ FOTER ------------ */

.footer{
    display: flex;
    
    justify-content: space-around;
    align-items: center;

    width: 100vw;
    height: auto;
}


.footerCop{
    width: 50%;
}

.footerCop p{
    font-size: 0.9vw;
}

.footer section{
    display: flex;
    justify-content: space-between;
    color: #838383;
    width: 50%;
    font-size: 0.7rem;
}

.footer section :last-child{
    text-align: end;
}

.footer.dark section a{
    color: rgba(255, 255, 0, 0.493);
    margin-bottom: 0.5vh;
}

.footer.white section a{
    color: rgb(82, 82, 82);
    margin-bottom: 0.5vh;
}

@media (max-width:450px){
    .footer section{
        flex-direction: column;
        font-size: 1rem;
        text-align: center;
    }

    .footer section :last-child{
        text-align: center;
    }
}

@media (max-width:1023px){
    .footer section{
        width: 70%;
    }   
}

/* .show-up{
    animation: show 0.2s ease-in-out both;
} */

@keyframes show{
    0%{
        opacity: 0;
        transform: translateY(-100px);
    }
    80%{
        transform: translateY(5px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}