@import "tailwindcss";

body {
  margin: 0;
  font-family: "Poppins", sans-serif, arial;
  font-style: normal;
  overflow-x: hidden;
  background-color: #1d1d1d;
  color: white;
}

.dark-mode {
  background: radial-gradient(circle, #1d1d1d, #0c0c0c);
  color: white;
  transition: all ease-in-out 0.2s;
  
}

.white-mode {
  background-color: #ffffff;
  color: black;
  transition: all ease-in-out 0.2s;
}

html {

  font-size: 16px;

  /* PC */
  @media (min-width: 1024px) {
    font-size: 20px;
  }

  /* Tableta */
  @media (max-width : 1023px) {
    font-size: 16px;
  }

  /* Celular */
  @media(max-width : 450px) {
    font-size: 10px;
  }
}

h1 {
  font-size: 2.2rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.8rem;
}

h4{
  font-size: 1.6rem;
}

h5{
  font-size: 1.4rem;
}

p {
  font-size: 1rem;
}

strong{
  color: yellow;
}


/* ------------------------------------------------ */

.line {
  width: 50vw;
  height: 0.5vh;
  border-radius: 32px;
  margin: 2vh 0;
}

/* celu */
@media (max-width: 450px) {
  .line {
    width: 80vw;
  }
}

/* tableta */
@media (max-width:1023px) {
  .line {
    width: 70vw;
  }
}

.line.white {
  background-color: black;
  transition: background-color ease-in-out 0.2s;
}

.line.dark {
  background-color: white;
  transition: background-color ease-in-out 0.2s;
}

/* ------------------------------------------------ */

.line-70 {
  width: 70vw;
  height: 0.5vh;
  border-radius: 32px;
  margin: 2vh 0;
}

.line-70.white {
  background-color: black;
  transition: background-color ease-in-out 0.2s;
}

.line-70.dark {
  background-color: white;
  transition: background-color ease-in-out 0.2s;
}

/* ------------------------------------------------ */

.vertical-line {

  width: 0.5vw;
  height: 2.5vh;
  border-radius: 32px;
}

.vertical-line.dark {
  background-color: white;
  transition: background-color ease-in-out 0.2s;
}

.vertical-line.white {
  background-color: black;
  transition: background-color ease-in-out 0.2s;
}

/* ------------------------------------------------ */

.theme {
  position: fixed;
  display: flex;
  top: 1.5vh;
  right: 1vw;
  cursor: pointer;
  z-index: 3;
}

.theme img {
  height: 3vh;
  transition: height ease-in-out 0.5s;
}

.theme img:hover {
  height: 3.3vh;
}