.mini-projects{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 60vh;
    align-items: center;
}

.mini-projects h1{
    margin-top: 0;
}

/* .mini-projects img{
    height: 10px;
} */

.mp-items-list{
    display: flex;
    box-sizing: border-box;
    width: 50%;
    height: 80%;
    justify-content: space-between;
}


.mp-item{
    display: flex;
    flex-direction: column;
    width: 30%;
    padding: 10px;
    border-radius: 12px;
}

.mp-item.dark{
    background-color: #1d1d1d;
    box-shadow: rgba(0,0,0,0.3) 0px 4px 2px;
}

.mp-item.white{
    background-color: #fafafaf0;
    box-shadow: rgba(0,0,0,0.3) 0px 2px 4px;
}

.mp-item h1{
    margin-bottom: 0;
}

.mp-item p{
    max-height: 50%;
    overflow-y: auto;
    font-size: 0.9rem;
    color: #838383;
    margin-top: 0;
}

.mp-image{
    height: 30%;
    width: 100%;
    border-radius:12px;
    object-fit: cover;
    margin: 0 auto 0 auto;
}

.mp-tools{
    display: flex;
    width: 100%;
    max-height: 5%;
    align-items: center;
    margin-top: auto;
    margin-bottom: 10px;
}

.mp-tools img{
    max-height: 100%;
    width: auto;
    margin: 0 2%;
}