.projects-list{
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin-top: 3%;
    height: 55vh;
}

.project-card{
    display: flex;
    flex-direction: column;
    justify-content: spa;
    align-items: center;
    
    width: 15vw;
    height: 50vh;

    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 2px;
    transition: all ease-in-out 0.2s;
    text-decoration: none;
}

.project-card-tools{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    width: 70%;
    height: 10%;
}

.project-card-tools img{
    height: 50%;
    margin: auto;
}

.project-card.dark{
    background-color: #1f1f1f;
    color: white;
}

.project-card.white{
    background-color: #f4f4f4;
    color: black;
}

.project-card:hover{
    height: 52vh;
}

.project-card:hover .icon{
    height: 25%;
}

.project-card p{
    font-weight: 600;
    margin: 0 5%;
    color: #838383;
}

.project-card h1{
    margin-bottom: 0;
}

.icon{
    transition: all ease-in-out 0.2s;
    margin: 10% 0 0 0;
    height: 20%;
    border-radius: 12px;
}