.top-bar{
    position: absolute;
    display: flex;
    
    width: 100vw;
    height: 7vh;

    justify-content: center;
    align-items: center;

    font-size: 1.5rem;
    font-weight: 600;
    color: #838383;
    z-index: 2;
}


.top-bar section{
    display: flex;
    justify-content: space-around;
    width: 40%;
}

.top-bar a{
    width: 20%;
    text-align: center;
    cursor: pointer;
}

@media (max-width:450px){
    .top-bar section{
        align-items: center;
        width: 90%;
    }
}

@media (max-width:1680px){
    .top-bar section{
        align-items: center;
        width: 90%;
    }
}


.top-bar a:hover{
    color: #4e4e4e;
}
