.top-bar{
    position: fixed;
    display: flex;
    
    width: 100vw;
    height: 7vh;

    justify-content: center;
    align-items: center;

    font-size: 1.5rem;
    font-weight: 600;
    color: #838383;
    z-index: 2;
    
}

.top-bar.white{
    animation: bar-white linear both;
    animation-timeline: scroll();
    animation-range: 10vh 30vh;
}

.top-bar.dark{
    animation: bar-dark linear both;
    animation-timeline: scroll();
    animation-range: 10vh 30vh;
}


.top-bar section{
    display: flex;
    justify-content: space-around;
    width: 40%;
}

.top-bar a{
    width: 20%;
    text-align: center;
    cursor: pointer;
    transition: color ease-in-out 0.2s;
}

@media (max-width:450px){
    .top-bar section{
        align-items: center;
        width: 90%;
    }
}

@media (max-width:1680px){
    .top-bar section{
        align-items: center;
        width: 90%;
    }
}


.top-bar.dark a:hover{
    color: #cecece;
}

.top-bar.white a:hover{
    color: #141414;
}

.selected.dark{
    color: white;
}

.selected.white{
    color: black;
}

@keyframes bar-dark{
    
    100%{
        background-color: #1f1f1f;
    }
}

@keyframes bar-white{
    
    100%{
        background-color: #F1F1F1;
    }
}
