.top-bar{
    position: absolute;
    display: flex;
    
    width: 30%;
    height: auto;

    justify-content: space-between;
    
    top: 2vh;
    right: 2vw;

    font-size: 1.5vw;
    font-weight: 600;
    color: #838383;
    cursor: pointer;

}

.top-bar a{
    transition: all ease-in-out 0.2s;
}

.top-bar a:hover{
    color: #4e4e4e;
}

.selected.dark{
    color: white;
}

.selected.white{
    color: black;
}