@import 'tailwindcss';

:root {
  font-family: "Schoolbell", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;

  --bg-color: #1F1F1F;
  --text-color: #fff;
  --inverted-color: #fff;
  --text-inverted: #000;
}

.light {
  --bg-color: #f2f2f2;
  --text-color: #000;
  --inverted-color: #000;
  --text-inverted: #fff;
}

@theme {
  --color-c-bg: var(--bg-color);
  --color-c-text: var(--text-color);
  --color-c-inverted: var(--inverted-color);
  --color-c-text-inverted: var(--text-inverted);
}

body {
  margin: 0;
  background: var(--bg-color);
  color: var(--text-color);
  overflow-x: hidden;
}

html {
  font-size: 16px;

  .pagePadding{
    padding: 2% 10%;
  }

  @media(min-width:1024px) {
    font-size: 22px;
  }

  scrollbar-color: rgba(120,120,120,1) transparent;
  scrollbar-width: thin;
}


